@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Raleway:wght@500&family=Roboto&display=swap');

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: rgb(187, 73, 69);
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
}

h1 {
    color: white;
    margin: 0;
    font-size: 42px;
}

.content {
    flex-grow: 1;
    display: flex;
}

.menu {
    box-sizing: border-box;
    background-color: rgb(243, 240, 240);
    width: 300px;
    height: 100%;
    padding: 24px 0 0 48px;
}

.menu button, #create-task, #create-project {
    display: block;
    font-family: 'Raleway', sans-serif;
    border-radius: 6px;
    border-style: none;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
    font-size: 24px;
    background-color: rgb(247, 247, 247);
    margin-bottom: 18px;
}

.menu button:hover, .close:hover, #create-task:hover, #create-project:hover {
    cursor: pointer;
    background-color: rgb(224, 224, 224);
}

#new-task {
    margin-bottom: 48px;
    font-size: 30px;
}

#menu-all {
    margin-top: 48px;
}

.projects {
    margin-top: 48px;
}

.list-container {
    flex-grow: 1;
    margin: 36px 36px 36px 36px;
    box-shadow: -1px -1px 4px -1px rgba(0,0,0,0.75);
    background-color: wheat;
}

.list-header, .list-task {
    padding: 6px;
    display: grid;
    grid-template-columns: 40px 1fr 120px 140px 50px 50px 80px;
}

.list-header div, .list-task div {
    text-align: center;
}

.list-header {
    font-size: 24px;
    background-color: rgb(221, 128, 66);
}

.list-task {
    font-size: 18px;
    background-color: wheat;
    height: 40px;
}

.list-task-button {
    background-color: rgba(245, 202, 121, 0.829);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 18px;
    border-style: none;
}

.list-task div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.list-task .mark {
    width: 60px;
    border-radius: 12px;
}

.list-task button:hover {
    cursor: pointer;
    background-color: rgb(218, 169, 78);
}

.new-task-form, .new-project-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 360px;
    height: 620px;
    background-color: white;
    box-shadow: 0px 0px 26px 1px rgba(0,0,0,0.75);
    padding: 24px;
    font-size: 24px;
}

.bg-filter {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: rgba(92, 92, 92, 0.603);
}

.new-task-form input, .new-task-form select, .new-task-form textarea, .new-project-form input {
    display: block;
    margin: 8px 0 24px 0;
    font-size: 18px;
    min-width: 180px;
}

.new-task-header, .new-project-header {
    font-size: 48px;
    text-align: center;
    margin-bottom: 24px;
}

#task, #project {
    width: 100%;
    height: 40px;
}

#notes {
    width: 100%;
    height: 80px;
    resize: none;
}

.form-button-container {
    display: flex;
    justify-content: center;
}

.close {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 24px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border-style: none;
}

.new-project-form {
    height: 240px;
}

#create-project, #create-task {
    font-size: 36px;
    margin: -6px 0 0 0;
}

.bg-filter, .new-project-form, .new-task-form {
    display: none;
}

#current-project {
    font-size: 24px;
    width: 200px;
    margin-bottom: 20px;
}

#new-project {
    font-size: 60px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task-text:hover {
    background-color: rgb(252, 201, 106);
    cursor: pointer;
}

.note {
    min-height: 40px;
    margin-left: 46px;
    background-color: rgb(255, 242, 218);
    padding: 8px 24px 8px 24px;
    box-sizing: border-box;
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.edit-btn-container {
    display: flow-root !important;
}

.edit-btn {
    width: 80px;
    height: 30px;
    font-size: 16px;
}